body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: rgb(178, 240, 153);
}

.range, .seek {
  width: 320px;
  height: 6px;
  border-radius: 3px;
  background: rgb(178, 240, 153);
  outline: none;
  cursor: pointer;
}

.range::-webkit-slider-thumb,
.range::-moz-range-thumb,
.range::-ms-thumb,
.seek::-webkit-slider-thumb,
.seek::-moz-range-thumb,
.seek::-ms-thumb {
  width: 14px;
  height: 14px;
  background: grey;
  border: 1px solid rgb(61, 196, 8);
  border-radius: 50%;
}

.range::-moz-range-progress,
.seek::-moz-range-progress {
  background-color: #666;
  height: 6px;
  border-radius: 3px;
}

.range::-moz-range-track,
.seek::-moz-range-track {
  background-color: #ccc;
  height: 6px;
  border-radius: 3px;
}

.manhinh {
  background-color: rgb(136, 250, 91);
  width: 450px;
  height: 500px;
  text-align: center;
}
.anh {
  border-radius: 15px;
  margin-top: 20px;
  width: 60%;
  height: auto;
  object-fit: cover;
}
.tieudephone {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.bt {
  color: black;
  font-size: 20px;
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
  border-radius: 100%;
  background-color: rgb(63, 199, 10);
  border: none;
}

.buttonp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.bt:nth-child(2) {
  width: 70px;
  height: 70px;
}

.baihat {
  margin-left: 20px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.album {
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.manhinh2 {
  text-align: left;
}
.mh {
  width: 400px;
  height: 600px;
  background-color: rgb(136, 250, 91);
}
.anh2 {
  width: 230px;
  height: auto;
  border-radius: 15px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.nhap {
  width: 100%;
  height: 47px;
  background-color: rgb(136, 250, 91);
  display: flex;
  align-items: center;
  border: none;
}
.imgab {
  width: auto;
  height: 37px;
  border-radius: 2px;
}